<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">

<h1>Modify user</h1>
<div id="operations">
    <ul>
        <li><a href="view_user.html" th:href="@{/users/view}" >Back to users</a></li>
    </ul>
</div>
<form action="edit" th:action="@{/users/edit}" th:object="${user}" method="post">
    <table class="datatable">
        <tr>
            <th scope="row"><label for="userName">Username</label></th>
            <td><input type="text" value="john" th:field="*{username}" readonly="readonly"/></td>
        </tr>
        <tr>
            <th scope="row"><label>Select user role</label></th>
            <td>
                <div th:each="validRole : ${allRoles}">
                    <label><input type="checkbox" id="roleadmin" value="ADMIN" th:field="*{authorities.authority}" th:value="${validRole}"/>
                    <th:block th:text="${validRole}">ADMIN</th:block></label>
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="Edit user"/>
</form>
      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
