<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="developer.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/application.css" th:href="@{/css/application.css}" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">
        <h1 th:text="${title}">Page title</h1>
        <form id="uploadform" action="fileupload.html" th:action="@{/fileupload}" method="post" enctype="multipart/form-data">
          <div class="row">
            <label for="file">Select a file to upload</label>
            <input type="file" name="file" id="file" onchange="fileSelected();"/>
            <br/>
            <label for="fileTTL">The file will be kept on the server for:</label>
            <select name="fileTTL" id="fileTTL">
              <option selected="selected" value="10">10 days</option>
              <option value="30">1 month</option>
              <option value="90">3 months</option>
            </select>
          </div>
          <div id="uploadprogress">
            <div id="fileName"></div>
            <div id="fileSize"></div>
            <div id="fileType"></div>
            <progress id="progressbar" max="100"><span>0</span>% uploaded</progress>
          </div>
          <div class="row">
            <p>Click this button to upload &amp; share your file</p>
            <input type="submit" onclick="return uploadFile()" value="Upload" />
            <p>By uploading your files, you accept our <a href="about.html" th:href="@{/about}">terms &amp; conditions</a></p>
          </div>
        </form>
        <div id="uploadcomplete" th:style="${uuid}? 'display:block' : ''">
          <h1>File successfully uploaded</h1>
          <p>
          Your file is uploaded now and you can share it with your colleagues!
          </p>
          <h3>Direct Download Link</h3>
          <pre id="downloadlink" th:text="${url} + '/download/'+${uuid}">http://xyz/download/UUID</pre>

          <h3>Remove Link (use this link to remove your file)</h3>
          <pre id="deletelink" th:text="${url} + '/delete/'+${uuid}">http://xyz/delete/UUID</pre>
          <p>
          Return to <a href="index.html" th:href="@{/}">Home</a>.
          </p>
        </div>
      </div>
    </div> <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
    <script type="text/javascript">
    // <![CDATA[

      function fileSelected() {
        var file = document.getElementById('file').files[0];
        if (file) {
          var fileSize = 0;
          if (file.size > 1024 * 1024)
            fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + ' MB';
          else
            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + ' KB';

          document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
          document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
          document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
          document.getElementById('progressbar').value = 0;
          document.getElementById('uploadprogress').style.display = "block";
          document.getElementById('uploadcomplete').style.display = "none";
        }
      }

      function uploadFile() {
        var file = document.getElementById('file').files[0];
        if (!file) {
            alert("You must first select a file");
            return false;
        }
        var uploadForm = document.getElementById('uploadform');
        var formAction = uploadForm.action;
        var fd = new FormData(uploadForm);
        fd.append("ajaxupload", "1");

        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.open("POST", formAction);
        xhr.send(fd);
        return false; // Return false so the browser doesn't upload again.
      }

      function uploadProgress(evt) {
        var progressBar = document.getElementById('progressbar');
        if (evt.lengthComputable) {
          var percentComplete = Math.round(evt.loaded * 100 / evt.total);
          progressBar.value = percentComplete;
          progressBar.getElementsByTagName('span')[0].innerHTML = percentComplete.toString();
        } else {
          progressBar.getElementsByTagName('span')[0].innerHTML = 'unable to compute';
        }
      }

      function uploadComplete(evt) {
        /* This event is raised when the server sends back a response */
        var xmlDocument = evt.target.responseXML;

        var downloadLink = xmlDocument.documentElement.getElementsByTagName("downloadLink")[0];
        var downloadchild = document.getElementById('downloadlink');
        downloadchild.firstChild.nodeValue = downloadLink.firstChild.nodeValue;
        var deleteLink = xmlDocument.documentElement.getElementsByTagName("deleteLink")[0];
        var deletechild = document.getElementById('deletelink');
        deletechild.firstChild.nodeValue = deleteLink.firstChild.nodeValue;

        var progressarea = document.getElementById('uploadprogress');
        progressarea.style.display = "none";
        var statusarea = document.getElementById('uploadcomplete');
        statusarea.style.display = "block";
      }

      function uploadFailed(evt) {
        alert("There was an error attempting to upload the file.");
      }

      function uploadCanceled(evt) {
        alert("The upload has been canceled by the user or the browser dropped the connection.");
      }
    // ]]>
    </script>
  </body>
</html>
