<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">
        <h1>EEA Web Transfer</h1>
        <div th:if="${message}" th:text="${message}" class="system-msg">System message</div>
<p>
Welcome roug to EEA Web Transfer! This website can facilitate a private transfer of files of up to X GB between you and any number of recipients.
</p>
<p>
The site is only open to uploaders with an Eionet account.
</p>
<p>
When you have uploaded your file it will show you a URL, which you can email to the intended recipients. The file will only be stored on the website for a limited number of days.
</p>
<ul>
<li><a href="fileupload">Transfer file</a></li>
</ul>
      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
