<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">
        <h1 th:text="${title}">Page title here</h1>
        <div th:if="${#lists.isEmpty(uploads)}">Table is empty.</div>
        <div th:if="${not #lists.isEmpty(uploads)}">
          <table class="datatable">
            <thead>
              <tr>
                <th>Identifier</th>
                <th>File name</th>
                <th>Expires</th>
                <th>Size</th>
                <th>Uploader</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody th:remove="all-but-first">
              <tr th:each="uploads : ${uploads}">
                <td><a th:href="@{'/download/'+${uploads.id}}" href="#" th:text="${uploads.id}">99999</a></td>
                <td th:text="${uploads.filename}">Long realistic file name</td>
                <td th:text="${uploads.expires}">2014-11-29</td>
                <td th:text="${uploads.humaneSize}">8932893</td>
                <td th:text="${uploads.uploader}">uploader</td>
                <td><a th:href="@{'/delete/'+${uploads.id}}" href="#">Delete</a>
                </td>
              </tr>
              <tr>
                <td>88888</td>
                <td>Filename.txt</td>
                <td>2015-05-29</td>
                <td>2992929</td>
                <td>johnny</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- workarea -->
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
