<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="developer.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/application.css" th:href="@{/css/application.css}" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">
        <h1 th:text="${title}">Page title here</h1>
        <div th:if="${#lists.isEmpty(uploads)}">Table is empty.</div>
        <div th:if="${not #lists.isEmpty(uploads)}">
          <form action="#" th:action="@{/deletefiles}" method="POST">
            <table class="datatable">
              <thead>
                <tr>
                  <th></th>
                  <th>Identifier</th>
                  <th>File name</th>
                  <th>Expires</th>
                  <th>Size</th>
                  <th>Uploader</th>
                </tr>
              </thead>
              <tbody th:remove="all-but-first">
                <tr th:each="upload : ${uploads}">
                  <td><input type="checkbox" name="id" th:name="id" th:value="${upload.id}"/>
                  <td><a th:href="@{'/download/'+${upload.id}}" href="#" th:text="${upload.id}">99999</a></td>
                  <td th:text="${upload.filename}">Long realistic file name</td>
                  <td th:text="${upload.expires}">2014-11-29</td>
                  <td th:text="${upload.humaneSize}">8932893</td>
                  <td th:text="${upload.uploader}">uploader</td>
                  </td>
                </tr>
                <tr>
                  <td>88888</td>
                  <td>Filename.txt</td>
                  <td>2015-05-29</td>
                  <td>2992929</td>
                  <td>johnny</td>
                </tr>
              </tbody>
            </table>
            <div><input type="submit" value="Delete"/></div>
          </form>
        </div>
      </div>
      <!-- workarea -->
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
